# Convex configuration, get this URL from your [Dashboard](dashboard.convex.dev)
CONVEX_DEPLOYMENT=anonymous:anonymous-aistack
VITE_CONVEX_URL=http://127.0.0.1:3210
VITE_CONVEX_SITE_URL=http://127.0.0.1:3211
VITE_SITE_URL=http://localhost:3000

# Better Auth configuration
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=

# Analytics
VITE_PUBLIC_POSTHOG_KEY=
VITE_PUBLIC_POSTHOG_HOST=https://eu.i.posthog.com
VITE_PUBLIC_POSTHOG_HOST_UI=https://eu.posthog.com

# Resend
RESEND_API_KEY=